<section class="principal">

  <div class="card">
    <h2 class="calendar">29 Nov</h2>
    <img src="rep1.png" alt="imagem">
    <div class="text">
      <h1>How Successful People Make the Most of Their Business</h1>
      <h3>Um guia passo a passo para criar seu próprio blog</h3>
      <div class="end">
        <p style="color: rgba(0, 0, 0, 0.397);">Editor | Comments</p>
        <a href="">Read More ➡️</a>
      </div>
    </div>
  </div>

  <div class="card">
    <h2 class="calendar">29 Nov</h2>
    <img src="rep2.png" alt="imagem">
    <div class="text">
      <h1>How Successful People Make the Most of Their Business</h1>
      <h3>Um guia passo a passo para criar seu próprio blog</h3>
      <div class="end">
        <p style="color: rgba(0, 0, 0, 0.397);">Editor | Comments</p>
        <a href="">Read More ➡️</a>
      </div>
    </div>
  </div>
  
  <div class="card">
    <h2 class="calendar">29 Nov</h2>
    <img src="rep3.png" alt="imagem">
    <div class="text">
      <h1>How Successful People Make the Most of Their Business</h1>
      <h3>Um guia passo a passo para criar seu próprio blog</h3>
      <div class="end">
        <p style="color: rgba(0, 0, 0, 0.397);">Editor | Comments</p>
        <a href="">Read More ➡️</a>
      </div>
    </div>
  </div>

  <div class="card">
    <h2 class="calendar">29 Nov</h2>
    <img src="rep4.png" alt="imagem">
    <div class="text">
      <h1>How Successful People Make the Most of Their Business</h1>
      <h3>Um guia passo a passo para criar seu próprio blog</h3>
      <div class="end">
        <p style="color: rgba(0, 0, 0, 0.397);">Editor | Comments</p>
        <a href="">Read More ➡️</a>
      </div>
    </div>
  </div>
</section>